<div class="container-fluid">
  <app-loader [isLoading]="isLoading"></app-loader>


  <div [hidden]="isLoading" class="container">
    <div class="border-bottom mt-3 mb-5">
      <div class="row">

        <div class="col-11">
          <h3 class="page-header">
            <i class="fa fa-video"></i> {{ 'Movies' | translate }}
          </h3>
        </div>

        <div class="col-1">
          <button type="button" class="btn btn-success btn-block" translate (click)="add(content)">Add</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3" *ngFor="let movie of movies">
        <div class="card text-center">
          <img class="card-img-top" src="/assets/bg.png" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">{{ movie.attributes?.name }}</h5>
          </div>

          <div class="card-header" translate="">Artists</div>
          <div class="card-header" translate="">Genres</div>

          <div class="card-footer">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" translate>Update</button>
              <button type="button" class="btn btn-danger" translate>Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Add movie' | translate }}</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label translate>Name</label>
        <input class="form-control" name="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label translate>Artists</label>
        <ng-select [items]="people"
                   bindLabel="attributes.name"
                   bindValue="id"
                   [(ngModel)]="artists"
                   [multiple]="true"
                   [addTag]="addArtistRef"
                   [ngModelOptions]="{standalone: true}">
        </ng-select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close({name: name, artists: artists})">Save</button>
  </div>
</ng-template>
